*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit; }

a {
  text-decoration: none; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }
  .nav-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0 24px;
    color: #9B9B9B;
    cursor: pointer; }
    .nav-list__item:hover {
      color: #fff; }
    .nav-list__item.is-selected {
      color: #fff; }
      .nav-list__item.is-selected::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #fff; }

.dropdown {
  position: relative; }
  .dropdown .dropdown__btn {
    padding: 0 8px;
    cursor: pointer; }
    .dropdown .dropdown__btn i {
      padding: 0 8px;
      color: #000; }
  .dropdown .dropdown__list {
    position: absolute;
    right: 8px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 10px 0 #9B9B9B;
    box-shadow: 1px 2px 10px 0 #9B9B9B;
    margin-top: 8px;
    background-color: #fff;
    color: #000; }
  .dropdown .dropdown__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 30px;
    white-space: nowrap;
    cursor: pointer; }
    .dropdown .dropdown__item:hover, .dropdown .dropdown__item.is-selected {
      background-color: #000;
      color: #fff; }
  .dropdown.is-open .dropdown__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.orders-preview {
  max-width: 500px;
  padding: 16px 0; }
  .orders-preview .orders__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 8px 0;
    border-bottom: 1px solid #EBEBEB;
    cursor: pointer; }
    .orders-preview .orders__item:last-child {
      border-bottom: none; }
    .orders-preview .orders__item img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 100px;
      height: 100px;
      background-position: 50%;
      background-size: cover; }
    .orders-preview .orders__item-info {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 1;
      padding: 8px 20px;
      padding-right: 0;
      color: #9B9B9B; }
      .orders-preview .orders__item-info i {
        font-size: 12px;
        margin-right: 4px; }
      .orders-preview .orders__item-info .info-title {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 16px; }
      .orders-preview .orders__item-info .info-time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 4px 0; }
        .orders-preview .orders__item-info .info-time span + span {
          margin-left: 10px; }
      .orders-preview .orders__item-info .info-costumer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .orders-preview .orders__item-price {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .orders-preview .orders__item-price .value {
        font-size: 20px;
        font-weight: 700; }
      .orders-preview .orders__item-price span {
        font-size: 14px;
        font-weight: 500; }

.list .type {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-weight: 700; }

.list-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden; }
  .list .item .type {
    font-size: 14px;
    font-weight: 400; }

.list .col-customer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.list .col-customer div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline; }
  .list .col-customer div i {
    font-size: 16px;
    color: #fff; }
